---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>Is React Dead?</title>
    <meta name="title" content="Is React Dead?" />
    <meta name="description" content="Is React Dead? Find out the answer. No." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://isreactdead.com/" />
    <meta property="og:title" content="Is React Dead?" />
    <meta property="og:description" content="Is React Dead? Find out the answer. No." />
    <meta property="og:image" content="https://isreactdead.com/og-image.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://isreactdead.com/" />
    <meta property="twitter:title" content="Is React Dead?" />
    <meta property="twitter:description" content="Is React Dead? Find out the answer. No." />
    <meta property="twitter:image" content="https://isreactdead.com/og-image.png" />
  </head>
  <body class="m-0 min-h-screen w-full">
    <slot />
  </body>
</html>
